<div class="container">
  <div class="row">
    <hr>
    <button class="btn btn-primary btn-success" (click)="onClick()"> Display details </button>
    <hr>
    <p class="form-control" *ngIf="display;else noContent" >{{content}}</p>
    <ng-template #noContent >No content to Show!</ng-template>
  </div>
  <div class="row">
    <ul>
      <li *ngFor="let click of clicks;let i = index" [ngStyle]="{backgroundColor: getBackColor(i)}" [ngClass]="{afterFive: (i>=4)? true:false}">{{click}}</li>
    </ul>
  </div>
</div>
